<a href="https://colab.research.google.com/github/lmdss1294/My_section1_project/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
# 데이터 다운로드 및 DataFrame으로 읽어오기
url = 'https://raw.githubusercontent.com/lmdss1294/My_section1_project/main/vgames2.csv'
df = pd.read_csv(url)
df = df.groupby('Name').apply(lambda x: x.fillna(method='ffill'))

# 결측치가 있는 데이터 drop
df = df.dropna()
def convert_sales(s):
    if s[-1] == 'K':
        return float(s[:-1]) * 0.001
    elif s[-1] == 'M':
        return float(s[:-1])
    else:
        return float(s)

df['NA_Sales'] = df['NA_Sales'].apply(convert_sales)
df['EU_Sales'] = df['EU_Sales'].apply(convert_sales)
df['Other_Sales'] = df['Other_Sales'].apply(convert_sales)
df['JP_Sales'] = df['JP_Sales'].apply(convert_sales)
df["Total_Sales"]=df["NA_Sales"]+df["EU_Sales"]+df["JP_Sales"]+df["Other_Sales"]
def convert_years(y):
    if y<=1970:
      if y <=20:
        return int(y+2000)
      elif y> 20:
        return int(y+1900)
    else:
      return int(y)
df['Year'] = df['Year'].apply(convert_years)


idx = df[df['Year'] < 2000].index
df.drop(idx , inplace=True)

separator = ';'

# 각 게임의 장르를 분리하여 리스트로 저장합니다.
df['Genres'] = df['Genre'].str.split(separator)

# A 행렬의 column index를 Comp로 하고 A의 원소값은 게임사별 장르의 총 개수로 합니다.
company_dict = {'DS': 'Nintendo', 'Wii': 'Nintendo', 'PSP': 'Sony', 'PS3': 'Sony', 'PC': 'PC',
                'PS': 'Sony', 'GBA': 'Nintendo', 'PS4': 'Sony', 'PS2': 'Sony', 'XB': 'Microsoft',
                'X360': 'Microsoft', 'GC': 'Nintendo', '3DS': 'Nintendo', 'SAT': 'Sega',
                'GB': 'Nintendo', 'NES': 'Nintendo', 'DC': 'Sega', 'N64': 'Nintendo', 'XOne': 'Microsoft',
                'SNES': 'Nintendo', 'WiiU': 'Nintendo', 'PSV': 'Sony', 'GEN': 'Sega', 'SCD': 'Sega',
                'WS': 'Bandai', '3DO': 'Panasonic', 'GG': 'Sega', }
df['Comp'] = df['Platform'].map(company_dict)
# 게임사별 장르 개수를 저장할 딕셔너리를 생성합니다.
company_genre_counts = {}
for company in company_dict.values():
    company_genre_counts[company] = {}

# 각 게임사별로 장르 개수를 계산합니다.
for i, row in df.iterrows():
    genres = row['Genres']
    company = row['Comp']
    if company not in company_dict.values():
        continue
    if company not in company_genre_counts:
        company_genre_counts[company] = {}
    for genre in genres:
        if genre not in company_genre_counts[company]:
            company_genre_counts[company][genre] = 0
        company_genre_counts[company][genre] += 1

# A 행렬을 생성합니다.
genres = sorted(set(df['Genre']))
companies = sorted(set(company_dict.values()))
A = np.zeros((len(companies), len(genres)))
for i, company in enumerate(companies):
    if company not in company_genre_counts:
        continue
    for j, genre in enumerate(genres):
        if genre in company_genre_counts[company]:
            A[i][j] = company_genre_counts[company][genre]

In [ ]:
df

,Unnamed: 0,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Total_Sales,Genres,Comp
0,1,Candace Kane's Candy Factory,DS,2008,Action,Destineer,0.04,0.00,0.00,0.00,0.04,[Action],Nintendo
1,2,The Munchables,Wii,2009,Action,Namco Bandai Games,0.17,0.00,0.00,0.01,0.18,[Action],Nintendo
2,3,Otome wa Oanesama Boku ni Koi Shiteru Portable,PSP,2010,Adventure,Alchemist,0.00,0.00,0.02,0.00,0.02,[Adventure],Sony
3,4,Deal or No Deal: Special Edition,DS,2010,Misc,Zoo Games,0.04,0.00,0.00,0.00,0.04,[Misc],Nintendo
4,5,Ben 10 Ultimate Alien: Cosmic Destruction,PS3,2010,Platform,D3Publisher,0.12,0.09,0.00,0.04,0.25,[Platform],Sony
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16592,16593,Minna no Chizu 2,PSP,2007,Misc,Zenrin,0.00,0.00,0.02,0.00,0.02,[Misc],Sony
16593,16594,Ice Age 2: The Meltdown,GC,2006,Platform,Vivendi Games,0.15,0.04,0.00,0.01,0.20,[Platform],Nintendo
16594,16595,Rainbow Islands: Revolution,PSP,2005,Action,Rising Star Games,0.01,0.00,0.00,0.00,0.01,[Action],Sony
16595,16596,NBA 2K16,PS3,2015,Sports,Take-Two Interactive,0.44,0.19,0.03,0.13,0.79,[Sports],Sony
16596,16597,Toukiden: The Age of Demons,PSV,2013,Action,Tecmo Koei,0.05,0.05,0.25,0.03,0.38,[Action],Sony

In [ ]:
A = A.transpose()

In [ ]:
A_df = pd.DataFrame(A, columns=list(companies), index=list(genres))

In [ ]:
A_df = A_df.astype("int")

In [ ]:
A_df

              Bandai  Microsoft  Nintendo   PC  Panasonic  Sega  Sony
Action             0        542      1087  156          0     2  1243
Adventure          0         85       417   61          0     8   601
Fighting           0        115       166    4          0     7   347
Misc               0        185       858   20          0     0   504
Platform           0         77       416   11          0     1   211
Puzzle             0         14       368   25          0     0    73
Racing             0        242       307   56          0     3   430
Role-Playing       2        112       433  101          0     4   635
Shooter            0        360       210  144          0     2   409
Simulation         0         63       424  108          0     0   163
Sports             0        418       654   48          0     4   867
Strategy           2         51       155  170          0     0   171

In [ ]:
b = df.groupby(['Comp', 'Genre'])['Total_Sales'].sum().unstack(fill_value=0)

In [ ]:
b= b.transpose()

In [ ]:
b["Total"]=b["Bandai"]+b["Microsoft"]+b["Nintendo"]+b["PC"]+b["Sega"]+b["Sony"]

In [ ]:
b = b["Total"]

In [ ]:
b

Comp          Bandai  Microsoft  Nintendo     PC  Sega    Sony
Genre
Action          0.00     323.11    409.14  25.51  1.18  773.21
Adventure       0.00      20.72     90.12   3.99  1.16   68.54
Fighting        0.00      52.23     72.90   0.13  0.78  186.84
Misc            0.00     105.80    417.50   4.08  0.00  183.92
Platform        0.00      21.80    337.69   0.47  0.12  136.89
Puzzle          0.00       1.28    124.39   0.93  0.00   13.13
Racing          0.00     105.20    165.30   3.81  2.01  289.70
Role-Playing    0.76      94.94    296.32  45.59  0.68  265.54
Shooter         0.00     392.01     59.64  35.52  0.07  413.08
Simulation      0.00      21.77    209.60  44.31  0.00   61.09
Sports          0.00     215.02    384.09  10.90  1.41  532.71
Strategy        0.20      12.92     39.05  30.00  0.00   33.51

In [ ]:
A_df.shape

(12, 7)

In [ ]:
x = np.linalg.pinv(A_df).dot(b)

In [ ]:
x

array([ 1.33200565e+02,  2.59892484e+00,  5.09621090e-01, -9.69128313e-01,
        3.66823417e-15,  1.69695540e+00, -2.24228610e-01])

In [ ]:
b.div(A_df)

,Bandai,Microsoft,Nintendo,PC,Panasonic,Sega,Sony
Genre,,,,,,,
Action,NaN,0.596144,0.376394,0.163526,NaN,0.590000,0.622051
Adventure,NaN,0.243765,0.216115,0.065410,NaN,0.145000,0.114043
Fighting,NaN,0.454174,0.439157,0.032500,NaN,0.111429,0.538444
Misc,NaN,0.571892,0.486597,0.204000,NaN,NaN,0.364921
Platform,NaN,0.283117,0.811755,0.042727,NaN,0.120000,0.648768
Puzzle,NaN,0.091429,0.338016,0.037200,NaN,NaN,0.179863
Racing,NaN,0.434711,0.538436,0.068036,NaN,0.670000,0.673721
Role-Playing,0.38,0.847679,0.684342,0.451386,NaN,0.170000,0.418173
Shooter,NaN,1.088917,0.284000,0.246667,NaN,0.035000,1.009976
Simulation,NaN,0.345556,0.494340,0.410278,NaN,NaN,0.374785
Sports,NaN,0.514402,0.587294,0.227083,NaN,0.352500,0.614429
Strategy,0.10,0.253333,0.251935,0.176471,NaN,NaN,0.195965

In [ ]:
b.div(A_df).max()

Bandai       0.380000
Microsoft    1.088917
Nintendo     0.811755
PC           0.451386
Panasonic         NaN
Sega         0.670000
Sony         1.009976
dtype: float64

소니의 슈팅장르를 출시하는 것이 이득이다.